h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(232, 232, 232);
}

.card {
    width: 400px;
    background: white;
    margin: auto;
    padding: 8px;
}

.main-title {
    background: rgb(186, 206, 242);
    padding: 16px

}

